
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Action</title>
</head>
<body>
    <div> 
        Total value is $@Model (by Action)
    </div>
</body>
</html>
